@import url("normalize.css");

body {
    background-color: rgb(239,240,227); 
}

main {
    padding: 2em 0 2em 2em;
}

#myCanvas {
    width: 20em;
    height: 20em;
    background-color: rgb(251,255,229);
}

.controlPanel {
    padding-top: 1em;
}

.controlPanel-row {
    padding-top: 0.5em;
}

.controlPanel-button {
    min-width: 3em;
    min-height: 1.5em;
}